<div class="mycontainer">
  <header class="header">
    <img src="/images/coforge.png" alt="coforge">
    <h1>Coforge Technologies</h1>
  </header>
 <nav class="mynav">
    <ul>
      <li><a routerLink="/"> Home</a></li>
      <li><a routerLink="/emp">Employees</a></li>
      <li><a routerLink="/pipes">Pipes</a></li>
      
      <!--Contact Dropdown Menu-->
      <li class="dropdown">
        <span>Contact</span>
        <ul class="dropdown-menu">
          <li><a routerLink="/contact">TemplateForm</a></li>
          <li><a routerLink="/contact1">Reactive Form</a></li>
        </ul>
      </li>
      <li><a routerLink="/about">About Us</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/team">Team</a></li>
    </ul>
  </nav>

  <main class="main-content">
    <!--The routed views render in the <router-outlet>-->
      <!--displays child-components - SPA-->
    <router-outlet></router-outlet>
  
  </main>
  <footer class="myfooter">
    <p>&copy; 2024 Coforge Ltd.</p>
  </footer>
</div>